<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23233967691-8lmfuv7eamid03ahv068ankcmcqi82jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23233967691-8lmfuv7eamid03ahv068ankcmcqi82jo</string>
	<key>API_KEY</key>
	<string>AIzaSyBw8wVRtsAr0EOHjRrOhdlcgQrZPTj-9hg</string>
	<key>GCM_SENDER_ID</key>
	<string>23233967691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.Armnature</string>
	<key>PROJECT_ID</key>
	<string>armnature-ab615</string>
	<key>STORAGE_BUCKET</key>
	<string>armnature-ab615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23233967691:ios:6b44f1ba7636a5ea85ffce</string>
	<key>DATABASE_URL</key>
	<string>https://armnature-ab615.firebaseio.com</string>
</dict>
</plist>